doctype
html
	head
		title= title
		
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")


		link(rel="stylesheet" href="css/frendr_style.css")
		script(src="js/Frendur_Style.js")
		
		block in_head

	body

		nav(class="navbar navbar-inverse navbar-default navbar-fixed-top")
			div(class="container top_bar")
				div(class="navbar-header")
					button(type="button",
					       class="navbar-toggle collapsed",
					       data-toggle="collapse",
					       data-target="#bs-example-navbar-collapse-1",
					       aria-expanded="false")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand",
					  href="/")

						img(src="images/FR.png")
						span(class="logoText") Frendr

				div(class="collapse navbar-collapse",
					id="bs-example-navbar-collapse-1")


					if (loggedin === true)
						ul(class="nav navbar-nav on_left")
								li
									a(href="/Profile")
										img(src="/profile/my_image")
										Span Profile
								li
									a(href="/Messages") Messages
								li
									a(href="/SignOut") Logout
					else
						ul(class="nav navbar-nav")
							if (loggedin === true)
								li
									a(href="/Home") Home
						ul(class="nav navbar-nav on_left")
								li
									a(href="/SignIn") Login
						

		block content

			
		footer(class="copyright col-sm-4 col-sm-offset-4") &copy; Copyright - Matthew O'Neill - 2016

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")